
body {
  margin: 0px;
}

.container{
  padding: 25px 300px;
  background-color: #1F2937;
  color: white;
  padding-bottom: 100px;
}

.flex-container{
  display: flex;
}

.flex-container .header-logo {
  flex: 4;
  font-size: 30px;
  color: #F9FAF8;
}

.flex-container .header{
  font-size: 18px;
  color: #E5E7EB;
  flex: 1;
  text-align: center;
}

.header .one{
  margin-left: auto;
}

.web-context{
  padding-top: 100px;
}

.context-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
    gap: 100px;
}

.context-item{
  color: white;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  flex: 1;
  align-items: center;
  text-align: left;
}

.website-awesome{
  font-size: 48px;
  color: #F9FAF8;
  margin-bottom: 0px;
}

.context-item.placeholder{
  background-color: gray;
  display: flex;
  justify-content: center;
}


button{
  background: #3882F6;
  border-radius: 4px solid blue;
  height: 35px;
  width: 115px;
  color: white;
}

.info-container{
    padding: 25px 300px;
    background-color: white;
    padding-bottom: 100px;
}

.info p {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  text-align: center;
}


.flex-info-container{
  padding: 16px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.box {
  width: 120px;
  height: 120px;
  border-radius: 25px;
  border: 4px solid blue;
  padding: 20px;
  gap: 50px;
}

.text-under-box{
  width: 800px;
  padding: 16px;
  justify-content: center;
  background: white;
  display: flex;
  margin-left: 18%;
  gap: 50px;
}

.text{
  flex: 1;
  padding-right: 25px;
  text-align: center;;
}

.quote-container{
  padding: 25px 300px;
  display: flex;
  justify-content: center;
  background-color: #E5E7EB;
  flex-wrap: wrap;
}

.quote p{
  flex: 1;
  font: 36px lightc;
  font-style: italic;
  text-align: center;
  color: #1F2937;
}


.author p{
  flex: 1;
  font: bold;
  align-self: flex-end;
}

.action-container{
  padding: 25px 300px;
  background-color: white;
  margin: 50px 0;
  color: white;
}

.blue-box{
  display: flex;
  justify-content: center;
  background: #3882F6;
  border-radius: 15px;
  padding: 30px;
}

button{
  background: #3882F6;
  border-radius: 4px solid blue;
  height: 35px;
  width: 115px;
  color: white;
  flex-grow: 0;
  margin-right: 100px;
}
.inside-blue-box{
  flex-grow: 3;
  margin-left: 100px;
  font-size: 24px;
  font-weight: bold;
}

.inside-blue-box p{
    margin-top: 5px;
    font-size: 15px;
      font-weight: lighter;
}
.footer{
  padding: 25px 300px;
  background-color: #1F2937;
  color: white;
  text-align: center;
}
